body {
    background: #121214;
    color: #e0e0e0;
    font-family: sans-serif;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#searchInput {
    width: 100%;
    max-width: 600px;
    padding: 12px;
    background: #222;
    border: 1px solid #444;
    color: #fff;
    border-radius: 6px;
}

h2 {
    color: #ffab00;
    border-left: 5px solid #ffab00;
    padding-left: 10px;
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #1c1c1f;
    margin-top: 10px;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #333;
    text-align: left;
}

th {
    background: #252529;
    font-size: 0.8rem;
    color: #aaa;
}

input[type="number"],
select {
    background: #2a2a2e;
    color: #fff;
    border: 1px solid #444;
    padding: 5px;
    width: 80px;
}

.total-score {
    color: #00e676;
    font-weight: bold;
}

.final-rank {
    color: #29b6f6;
    font-weight: bold;
}